doctype html
html
	head
		title
		script(src="/node_modules/blogvio_workbench/node_modules/commonjs-require/commonjs-require.js")
		script(src="/node_modules/blogvio_workbench/node_modules/spine/lib/spine.js")
		script(src="/node_modules/blogvio_workbench/node_modules/blogvio_editor/lib/dev/core.vendor.js")
		script(src="/node_modules/blogvio_workbench/node_modules/blogvio_editor/lib/dev/core.js")
		script.
			widgeticOptions = {
				domain: window.location.host,
				domainProtocol: window.location.protocol.slice(0,-1),
				secure: (window.location.protocol === 'https:') ? true : false
			}
		script(src="/node_modules/blogvio_workbench/node_modules/widgeticjs/lib/sdk.dev.js")
		link(rel="stylesheet", href="/bundles/blogvioapp/css/embed.css")
		script(src="/lib/embed.js")
		script.
			var composition = !{ JSON.stringify(composition) }
			var skin = !{ JSON.stringify(skin) }
