ul.workbench-controls
	li
		a(href="/node_modules/widgetic-components/doc") Documentation
	li
		a(href="#", data-action="resetWorkbench") Reset Workbench
	li
		textarea.workbench-preset-output
		a(href="#", data-action="copyPreset") Copy Preset
		span Copied!
	if savedComposition
		li
			textarea.workbench-embed-code-output
			a(href="#", data-action="copyEmbedCode") Copy Embed Code
			span Copied!
	li 
		label(for="widgetWidth") Width
		input.workbench-widget-size-w(type="number", id="widgetWidth")
		| px
	li 
		label(for="widgetHeight") Height
		input.workbench-widget-size-h(type="number", id="widgetHeight")
		| px
	if savedComposition
		li
			a(href="#", data-action="loadSavedComposition") Load Saved Composition

div.workbench-area
	div.widget-area
		div.resize-area-toggle
		div.resize-area
	div.editor-area
